@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

html {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

body {

	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

/*barre de navigation*/

.presentation {

	/*background-image: url(https://zupimages.net/up/22/21/zfsx.jpg);*/
	background-position: top;
	background-size: cover;
	width: auto;
	/*height: 800px;*/
	letter-spacing: 0.1rem;
}

.presentation {
	overflow: hidden;
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	padding: 9px 1px;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

.presentation a {
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
}

.presentation a:hover {
	color: crimson;
}

.presentation .header-right {
	float: right;
	bottom: 0%;
	margin-top: 7px;
	left: 12px;
	text-indent: -15%;
}



#header a {
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;

}

#header a:hover {
	color: crimson;
}

.header-right {
	float: right;
	bottom: 0%;
	margin-top: 7px;
}

.logo {
	width: 250px;
	height: 60px;
	max-width: 250px;
	max-height: 150px;
}


/*fin barre de navigation*/

/*infos section*/

.infos {
	background-image: url(https://zupimages.net/up/22/21/zfsx.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	width: auto;
	height: 800px;
	letter-spacing: 0.1rem;
	flex-grow: 1;

	color: red;


}

.infos::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;

}

.infos h1 {


	font-family: 'Montserrat', sans-serif;

	color: rgb(255, 255, 255);
	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;
	font-size: 5rem;


}

/*fin infos section*/


/*choix medecins*/

.toutParcourir {
	background-image: url(https://zupimages.net/up/22/21/bxs8.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	width: auto;
	height: 800px;
	letter-spacing: 0.1rem;
	flex-grow: 1;
}

.toutParcourir::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

.toutParcourir #section p {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-top: 60px;
	margin: 130px;
	position: relative;
	text-indent: 2em;
	color: white;
	text-decoration: none;
	text-align: right;
	font-size: 3rem;
}

.toutParcourir #section a {
	color: white;
	text-decoration: none;
	position: relative;
	text-align: center;
	left: 900px;
	top: -60px;
	font-size: 2rem;
}

.toutParcourir #section a:hover {
	color: crimson;
	text-decoration: none;
}

/*fin choix medecins*/


/*medecins generalistes*/


.lesMedecins #photo {
	background-image: url(https://cdn-icons-png.flaticon.com/512/387/387561.png);
	background-size: 200px;
	padding-bottom: 10px;
	width: 200px;
	height: 200px;

	position: absolute;
	top: 90px;
	left: 50px;
	background-repeat: no-repeat;

}

.lesMedecins #photoA {
	background-image: url(https://cdn-icons-png.flaticon.com/512/387/387628.png);
	background-size: 200px;
	padding-bottom: 10px;
	width: 200px;
	height: 200px;

	position: absolute;
	top: 90px;
	left: 50px;
	background-repeat: no-repeat;

}

.lesMedecins #section {
	position: absolute;
	top: 50px;
	left: 299px;

	color: white;
	font-size: 2rem;

	letter-spacing: 0.1rem;
	flex-grow: 1;
}


.lesMedecins::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 150%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

.lesMedecins a,li,h2,p {

	text-decoration: none;
	color: white;
}




.lesMedecins a:hover {


	color: crimson;
}




/*fin medecins generalistes*/




/* offers Section */
.offers .offers {
	flex-direction: column;
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
	padding: 100px 0;
}

.offers .offer-top {
	max-width: 700px;
	margin: 0 auto;
}

.offers .offer-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

.offers .offer-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	/*border-radius: 10px;*/
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;

}

.offers .offer-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}

.offers .offer-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}

.offers .offer-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.offers .offer-item p {
	color: white;
	text-align: left;
}

/* End offers Section */




/*footer section*/


.footerAcceuil {
	background-image: linear-gradient(60deg, #092340 0%, #2c95db 100%);
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	text-align: center;
	position: relative;
	z-index: 10;
	height: 4em;
	clear: both;
}

.footerRDV {
	background-image: linear-gradient(60deg, #092340 0%, #2c95db 100%);
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;

	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	text-align: center;
}

.footerGeneraliste {

	background-image: linear-gradient(60deg, #092340 0%, #2c95db 100%);
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;


	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	text-align: center;

}

.footerinfoMedecins {
	background-image: linear-gradient(60deg, #092340 0%, #2c95db 100%);
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;

	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	text-align: center;
}

.footerlesMedecins {

	background-image: linear-gradient(60deg, #092340 0%, #2c95db 100%);
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	text-align: center;

	z-index: 10;
	height: 4em;
	clear: both;
}






.footer {

	background-image: linear-gradient(60deg, #092340 0%, #2c95db 100%);
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;

	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	text-align: center;
}

.footer .footer {
	min-height: 10px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

.footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}



.footer p {
	color: white;
	font-size: 1.3rem;
}

/*fin footer section*/


/*css de chaque page section*/

.cService div {
	font-family: 'Montserrat', sans-serif;


	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;
	margin-bottom: 10px;


}


.medPacient img {

	border: 2px solid #000000;
	padding-bottom: 20px;
}

.medPacient div {

	font-family: 'Montserrat', sans-serif;


	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;

}

.connection div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;

}



.lesLabos div {
	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;
}

.infos1 div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;

}

.infoMedecins div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;

}

.inscriptionClient div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;
}

.laboratoire div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;
}

.listesMedecins div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;
}

.payement div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;
}

.messagesRdv div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 150px;
	margin-bottom: 200px;

	font-size: 2rem;
}


.infos3 div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;
}

.specialiste div {

	font-family: 'Montserrat', sans-serif;

	font-weight: bold;
	margin-top: 20px;
	margin: 20px;
	padding-top: 200px;

	font-size: 3rem;
}



#loginchat {
	float: left;
	width: 300px;

}

#tableau {
	background-color: #2A64A7;
	width: 600px;

	float: right;

}


/*ajouter medecin*/

.ajouterMedecin {

	transform: translate(0%, 30%);
	margin-left: auto;
	margin-right: auto;
	max-width: 350px;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #332902;

}

.ajouterLabo {


	transform: translate(200%, -92%);

	max-width: 350px;
	text-align: center;
	padding-left: 13%;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #332902;


}

.carreca {

	transform: translate(-100%, -10%);
	margin-left: auto;
	margin-right: auto;
	max-width: 350px;
	width: 100%;
	background: #fff;
	padding: 25px;
	box-shadow: 0px 0px 18px 0 #0000002c;
}

.carreca h2 {
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #332902;
}

.carreca .tbeau {

	border: 0px;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	width: 100%;
	background: rgb(109, 152, 243);
	color: #332902;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;

	cursor: pointer;
}

.carreca .input_field {
	margin-bottom: 5px;
}

.carreca .input_field input[type="text"],
.carreca .textarea {
	border: 1px solid #e0e0e0;
	width: 100%;
	padding: 5px;
	text-align: center;
}

.carreca textarea {
	resize: none;
	height: 30px;
	border: 1px solid #e0e0e0;
	width: 100%;
	padding: 5px;
	text-align: center;
}

.carreca .tbeau input[type="submit"] {
	border: 0px;


	text-align: center;
	width: 100%;
	background: rgb(109, 152, 243);
	color: #332902;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	cursor: pointer;
}

/*fin ajouter medecin*/